h1 {
    color: white;
    letter-spacing: 3px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: red;
    color: white;
}

input {
    background-color: white;
    color: black;
}

body {
    background-color: rgb(24, 65, 38);
}

p {
    color: white;
}

a {
    color: palegreen;
    text-decoration: none;
}

h2,
h3,
h4,
h5 {
    color: yellow;
}

.navbar {
    display: flex;
    margin: 0;
    gap: 15px;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

.top {
    width: 100%;
    align-items: center;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

a:hover {
    text-decoration: underline;
}

nav>ul>li:hover {
    background-color: darkgreen;
}